<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceFrameworkSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50265/WebServiceFramework.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceFrameworkSoap"
                contract="wsPublicacao.WebServiceFrameworkSoap" name="WebServiceFrameworkSoap" />
        </client>
    </system.serviceModel>
</configuration>
